@model IEnumerable<Kortyérzet.Models.CheckinModel>

@{
    ViewData["Title"] = "ProfileDetails";
}

<h1>"My beer library"</h1>
<table style="width:100%">
    <tr>
        <th>Beer ID</th>
        <th>Comment</th>
        <th>Rating</th>
        <th>Img</th>
    </tr>
    @foreach (var checkin in Model)
    {
        <tr>
            <td>@checkin.Beer.Name</td>
            <td>@checkin.Checkin.Comment</td>
            <td>@checkin.Checkin.Rating</td>
            <td><img src="~/uploads/@checkin.Checkin.Img" height="150" width="150" /></td>
        </tr>
    }
</table>

