
@{
    ViewData["Title"] = "RegistrationComplete";
}

<META http-equiv="refresh" content="3;URL=https://localhost:5001/Account/Login">

<h1>Registration completed successfully!</h1>
<h2>You will be redirected to the login page shorty!</h2>

